# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.*
/config/*

#

/**/*~
/src/poudriere-utils
/src/poudriere-utils-create
/src/poudriere-utils-delete
/src/poudriere-utils-bulk
/src/poudriere-utils-testport
